*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DAD8D5; 
   }
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;

}   
.leftSec{
    
   
}
.rightSec{
 background-image: url("../images/milk3.jpg");
 background-size: 100% 100%;
}
.overlay{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        overflow: hidden;  
}

/* RIGHT SECTION */

.content{
   
    margin: 40px 70px;
    color: #FFF;   
}
.inner h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.inner ul{
    list-style: none;
}
.inner ul li{
  font-size: 1.5rem;
  margin-top: 10px;
}

/* LEFT SECTION */

/* FORM */
form,.listRep{
    background-color: rgba(0, 0, 0, 0.7);;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: #FFF;
}
.left h1{
    color: #205B75;
    text-align: center;
}
.sheds{
    margin: 15px 0 0 15px;
}
.shed{
    margin: 20px 0 0 0;
}
.shed>label{
    display: inline-block;
    margin-right: 7px;
    font-size: 1.2rem;
}
.shed>input{
    padding: 10px;
    background-color: rgba(243, 236, 236, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.shed>button{
    margin: 0 0 10px 10px;
    padding: 10px;
    width: 200px;
    color: #FFFF;
    background-color: #BF8B56;
    font-weight: 800;
    font-size: 1.4rem;
    border:none;
    border-radius: 10px;
}
.cumulative{
 /* display: none; hidden */
} 
.weekly, .yearly{
    margin: 20px 0 0 15px;
    font-size: 1.2rem;
}

/* FULL REPORT */
.report{
    margin-top: 30px;
}
.listRep{
    /* display: none; hidden */
    padding: 20px 0 20px;

}
.listRep>ul{
    
    margin:  15px; 
}
    
.listRep>ul>li{
    list-style: none;
    margin: 20px  0 15px; 
    font-style: oblique;
}
.report button{
    width: 100px;
    padding: 10px 0px;
    margin-left: 45%;
    cursor: pointer;

}
.float{
    
    background-color: #BF8B56;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 45%;
    margin-left: 20%;
}
.floatCont p{
    font-size: 1.2rem;

}

/* MEDIA QUERY */
@media screen and (max-width:1280px){
    .left>h1, .inner>h1, .report>h1{
       font-size:1.5rem;
    }
    .float{
       
        width: 400px;
        padding: 30px;
        margin-left: 0;
    }
}
@media screen and (max-width:1000px){
    .content{
        margin: 40px 20px; 
    }
    .float{
         width: 100%;
         margin: 40% 0px 0px;
       
    }
    .inner ul li{
        font-size: 1.3rem;
      }
}

@media screen  and (max-width:570px){
    .container{
        display: flex;
        flex-direction: column;
    }   
    .left>h1, .inner>h1, .report>h1{
        font-size:1.2rem;
     }
     .inner ul li{
        font-size: 1.1rem;
        margin-top: 6px;
      }
}