*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DAD8D5; 
   }
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;

}   
.leftSec{
    
   
}
.rightSec{
 background-image: url("/assets/images/milk3.jpg");
 background-size: 100% 100%;
}
.overlay{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        overflow: hidden;  
}
  

.content2{
   
    margin: 40px 70px;
    color: #FFF;   
}
.inner h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.inner ul{
    list-style: none;
}
.inner ul li{
  font-size: 1.5rem;
  margin-top: 10px;
}